/* color palette from <https://github.com/vuejs/theme> */
:root {
  --ks-control-border-color: #ccc;

}





@font-face {
    font-family: "Open Sans";
    font-display: swap;
    src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    font-display: swap;
    src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

.kv-app {
    --fnt-main: 'Open Sans', Arial, sans-serif;
    --c-main: hsl(0, 0%, 100%);
    --c-prim: hsl(189, 100%, 42%);
    --c-prim_light: #E6F9FB; /*hsla(189, 100%, 42%, 0.102);*/
    --c-second: hsl(190, 28%, 35%);
    /*--c-second_dark: hsl(190, 63%, 17%);*/
    --c-second_dark: #406A72;
    --c-success: hsl(131, 61%, 48%);
    --c-success_light: hsla(131, 61%, 48%, 0.1);
    --c-disabled: hsl(0, 0%, 96%);
    --c-disabled_dark: hsl(0, 0%, 82%);
    --c-info: hsl(55, 100%, 50%);
    --c-info_pale: hsla(55, 100%, 50%, 0.1);
    --c-info_light: hsla(55, 100%, 50%, 0.5);
    --c-info_bright: hsla(55, 100%, 50%, 0.7);
    --c-hot: hsl(29, 100%, 50%);
    --c-error: rgb(255, 0, 0);
    --c-error_light: hsl(0, 100%, 50%, 0.1);
    --c-success-50: hsla(131, 61%, 48%, 50%);
    --c-prim-50: hsla(189, 100%, 42%, 50%);
    --dark-grey_bdv: #406A72;
    --blue_bdv_50: rgba(0, 179, 212, 0.5);
    --background-green_bdv: #EBFAED;
}
/*.kv-app, .kv-app * {*/
/*  all: revert;*/
/*}*/
.kv-app * {
  box-sizing: border-box;
}

.kv-app,
.kv-app * {
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
