@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');
:root {
    --ks-font: 'Arsenal', Georgia, 'Times New Roman', serif;
    --ks-control-border-color: #ccc;
    --ks-border-radius: 6px;
    --ks-font-size: 20px;
    --ks-color-base: #444;
    --ks-color-border-control: #ccc;
    --ks-color-border-block: #83A494;
    --ks-color-primary: #074A2A; /* Темно зеленый шрифтб иконки */
    --ks-color-primary-accent: #00A958; /* Светло зеленые кнопки, шаг, табы, рейтинг */
    --ks-color-secondary: #F4C258; /* Кнопки */
    --ks-color-secondary-accent: #FFD400; /* Шаг, звезды */ 
    --ks-color-tertiary: #0052B4;
    --ks-color-tertiary-accent: #00B1E0;
    --ks-color-danger: #D80027;

}

/*
@font-face {
    font-family: "Open Sans";
    font-display: swap;
    src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    font-display: swap;
    src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
*/
.ks-app * {
  all: revert; /*сброс до браузерных стилей*/
  box-sizing: border-box;
  font-family: var(--ks-font);
  font-size: var(--ks-font-size);
  color: var(--ks-color-base);
  margin: 0;
  padding: 0;
}
.ks-app *:before,
.ks-app *:after {
    box-sizing: border-box
}

/*RESET TODO: */
.ks-app *:focus {
  outline: 0
}
.ks-app a:active,
.ks-app a:hover {
  outline: 0
}
.ks-app table {
  border-collapse: collapse;
  border-spacing: 0
}

.ks-app a {
    color: var(--ks-color-primary);
}

.ks-app img {
    max-width: 100%;
    display: block;
}

.ks-app svg * {
    fill: inherit;
}

.ks-app * * {
  color: inherit;
  font-size: inherit;
  fill: currentColor;
}


/* micro grid */
.ks-row {
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  --gutter: 10px;
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
}
.ks-row > * {
  flex: 1 1 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.ks-col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.ks-col-12 {
  flex-basis: 83.3333%;
  max-width: 83.3333%;
}

.ks-col-8 {
  flex-basis: 66.6666%;
  max-width: 66.6666%;
}

.ks-col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.ks-col-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.ks-col-3  {
  flex-basis: 25%;
  max-width: 25%;
}

.ks-col-2  {
  flex-basis: 16.6666%;
  max-width: 16.6666%;
}

/* MD  */
[cq-min-w-640] .ks-col-md-12 {
  flex-basis: 100%;
  max-width: 100%;
}

[cq-min-w-640] .ks-col-md-9 {
  flex-basis: 75%;
  max-width: 75%;
}

[cq-min-w-640] .ks-col-md-8 {
  flex-basis: 66.6666%;
  max-width: 66.6666%;
}

[cq-min-w-640] .ks-col-md-6 {
  flex-basis: 50%;
  max-width: 50%;
}

[cq-min-w-640] .ks-col-md-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

[cq-min-w-640] .ks-col-md-3 {
  flex-basis: 25%;
  max-width: 25%;
}

/* LG */
[cq-min-w-991] .ks-col-lg-12 {
  flex-basis: 100%;
  max-width: 100%;
}

[cq-min-w-991] .ks-col-lg-9 {
  flex-basis: 75%;
  max-width: 75%;
}

[cq-min-w-991] .ks-col-lg-8 {
  flex-basis: 66.6666%;
  max-width: 66.6666%;
}

[cq-min-w-991] .ks-col-lg-6 {
  flex-basis: 50%;
  max-width: 50%;
}

[cq-min-w-991] .ks-col-lg-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

[cq-min-w-991] .ks-col-lg-3 {
  flex-basis: 25%;
  max-width: 25%;
}


/* utilite */ 
.ks-color-primary {
  color: var(--ks-color-primary);
  fill:  var(--ks-color-primary);
}
.ks-color-secondary {
  color: var(--ks-color-secondary);
  fill: var(--ks-color-secondary);
}
.ks-mb-10 {
  margin-bottom: 10px;
}
.ks-mb-20 {
  margin-bottom: 20px;
}
.ks-mb-30 {
  margin-bottom: 30px;
}
.ks-mb-40 {
  margin-bottom: 40px;
}
.ks-mb-50 {
  margin-bottom: 50px;
}

.ks-p-10  {
  padding: 10px;
}
.ks-p-20  {
  padding: 20px;
}

.ks-block {
  border: solid 1px var(--ks-color-border-block);
  border-radius: var(--ks-border-radius);
  background-color: #fff;
}

/* UI-kit */
.ks-form-input, .ks-form-select, .ks-form-textarea {
  width: 100%;
  height: 60px;
  padding: 0.375em 1em;
  outline: none;
  font-size: var(--ks-font-size);
  color: var(--ks-color-base);
  background: #FFF;
  border: 1px solid var(--ks-control-border-color);
  border-radius: var(--ks-border-radius);
  font-family: var(--ks-font);
  font-weight: 400;
  display: block;
}
.ks-form-select {
  padding: 0.375em 2.25em 0.375em 1em;
  -moz-padding-start: calc(1em - 3px);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23444'%3E%3Cpath d='M15.9 3.93a.34.34 0 0 0-.49 0L8 11.33.59 3.93a.34.34 0 0 0-.49 0 .36.36 0 0 0 0 .49l7.65 7.65a.36.36 0 0 0 .5 0l7.65-7.65a.36.36 0 0 0 0-.49Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.8333em center;
  background-size: 16px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.ks-form-select-sm {
  height: 40px;
  padding: 0.325em 2em 0.325em 1em;
  font-size: var(--ks-font-size);
}

.ks-form-textarea {
    padding: .75em 1em;
    line-height: 1.4em;
    height: 7.5rem;
    font-family: var(--ks-font);
    font-weight: 400;
    display: block;
}

.ks-app input[type=radio],
.ks-app input[type=checkbox] {
  accent-color: var(--ks-color-primary-accent);
  width: var(--ks-font-size);
  height: var(--ks-font-size);
}
.ks-form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  cursor: pointer;
}
.ks-form-check .ks-form-check-input {
  float: left;
  margin-left: -1.5em;
  margin-top: 0.175em;
}

.ks-btn {
  font-family: var(--ks-font);
  font-weight: 700;
  font-size: calc(1.2 * var(--ks-font-size)); /* 24 */
  line-height: 1.25em;
  text-align: center;
  padding: 0.583333em 1.2em;
  min-height: 60px;
  color: #fff;
  background-color: var(--ks-color-base);
  display: inline-block;
  text-decoration: none;
  border-radius: var(--ks-border-radius);
  border: solid 1px var(--ks-color-base);
  margin: 4px 2px;
}

.ks-btn:not(:disabled) {
  cursor: pointer
}
.ks-btn.disabled, .ks-btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.ks-btn-sm {
  font-size: calc(0.9 * var(--ks-font-size)); /* 18 */
  padding: 0.4em 1.2em;
  min-height: 40px;
}

.ks-btn-primary {
  color: #fff;
  background-color: var(--ks-color-primary);
  border-color: var(--ks-color-primary);
}

.ks-btn-primary:hover {
  background-color: var(--ks-color-primary);
  border-color: var(--ks-color-primary);
  opacity: 0.85;
}

.ks-btn-secondary {
  color: #fff;
  background-color: var(--ks-color-secondary);
  border-color: var(--ks-color-secondary);
}

.ks-btn-secondary:hover {
  background-color: var(--ks-color-secondary);
  border-color: var(--ks-color-secondary);
  opacity: 0.85;
}


.ks-btn-outline {
  color: var(--ks-color-primary);
  background: #fff;
  border: 1px solid var(--ks-color-primary);
}

.ks-btn-outline:hover {
  color: var(--ks-color-primary);
  background: #fff;
  border: 1px solid var(--ks-color-primary);
  opacity: 0.85;
}

.ks-btn-outline-primary-accent {
  color: var(--ks-color-primary-accent);
  background: #fff;
  border: 1px solid var(--ks-color-primary-accent);
}

.ks-btn-outline-primary-accent:hover {
  color: var(--ks-color-primary-accent);
  background: #fff;
  border: 1px solid var(--ks-color-primary-accent);
  opacity: 0.85;
}


/* custom checkbox, radio TODO: удалить, если не надо*/
.custom-control {
    cursor: pointer;
    position: relative;
    padding-left: 30px
}

.custom-control__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    display: none
}

.custom-control__icon {
    height: 20px;
    width: 20px;
    border: solid 1px var(--green);
    display: inline-block;
    border-radius: 2px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 0
}

.custom-control__checkbox:checked+.custom-control__icon {
    border-color: var(--green);
    background: var(--green)
}

.custom-control__checkbox:checked+.custom-control__icon:after {
    content: '';
    display: block;
    width: 7px;
    height: 11px;
    border: solid 2px #fff;
    border-width: 0 2px 2px 0;
    position: relative;
    left: 6px;
    top: 2px;
    transform: rotate(45deg)
}

.custom-control__icon-radio {
    height: 20px;
    width: 20px;
    border: solid 1px var(--green);
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 0
}

.custom-control__checkbox:checked+.custom-control__icon-radio:after {
    content: '';
    display: none;
    width: 10px;
    height: 10px;
    background-color: var(--green);
    border-radius: 50%;
    position: relative;
    left: 4px;
    top: 4px
}

.custom-control__checkbox:checked+.custom-control__icon-radio:after {
    display: block
}

.custom-control__label {
    line-height: 1.5em
}

.ks-alert {
  position: relative;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  color: var(--ks-color-base);
  background-color: #fff;
  border: var(--ks-control-border-color);
  border-radius: var(--ks-border-radius);
}

.ks-alert-success {
  color: var(--ks-color-base);
  background-color: #fff;
  border: solid 1px var(--ks-color-primary-accent);
}
.ks-alert-danger {
  color: var(--ks-color-base);
  background-color: #fff;
  border: solid 1px var(--ks-color-danger);
}
.ks-alert-info {
  color: var(--ks-color-base);
  background-color: #fff;
  border: solid 1px var(--ks-color-third);
}


/* icon */
.ks-app .icon {
    display: inline-block;
    width: var(--ks-font-size);
    height: var(--ks-font-size);
}

.ks-app .icon-s {
  font-size: calc(0.8 * var(--ks-font-size));
}
.ks-app .icon-l {
  font-size: calc(1.5 * var(--ks-font-size));
}
.ks-app .icon-xl {
  font-size: calc(2 * var(--ks-font-size));
}

.ks-app svg {
    width: 1em;
    height: 1em
}

.ks-input-icon-wrapper {
  position: relative;

}
.ks-input-icon-wrapper svg {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 15px;
  fill: var(--ks-color-primary);
}
.ks-input-icon-wrapper .ks-form-select-sm + svg {
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;

}

.ks-input-icon-wrapper select,
.ks-input-icon-wrapper input {
  /* text-indent: 70px; */
  padding-left: 70px;
}

.ks-input-icon-wrapper select.ks-form-select-sm {
  /*text-indent: 40px;*/
  padding-left: 40px;
}



/* User Text */
.ks-h1 {
  font-size: calc(1.7 * var(--ks-font-size)); /*34*/;
  line-height: 1.25;
  font-weight: 700;
}
.ks-h2 {
  font-size: calc(1.2 * var(--ks-font-size)); /*24*/
  line-height: 1.25;
  font-weight: 700;
}
.ks-h3 {
  font-size: var(--ks-font-size); /*20*/
  line-height: 1.25;
  font-weight: 700;
}
.ks-p {
  font-size: var(--ks-font-size); /*20*/
  line-height: 1.25;
}


/* display */
.ks-d-block {
  display: block;
}
.ks-d-flex {
  display: flex;
}
.ks-align-items-center {
  align-items: center;
}